#Mac_OS
.DS_Store
**/DS_Store

#server side
.vscode/*
**/venv/*
**/virtual-environment/*
*.db
*.sql
*.out
__pycache__/*

# client side
node_modules/*
**/node_modules/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*